<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/employer">
            <i class="fa fa-briefcase fa-fw"></i>{echo $employer->organization->name}
        </a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        {if($user->type == "admin")}
            <li><a href="/admin">Admin Panel</a></li>
        {/if}
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> {echo $user->name}  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="/employer/faq"><i class="fa fa-thumbs-up fa-fw"></i> Help</a></li>
                <li><a href="/employer"><i class="fa fa-gear fa-fw"></i> Dashboard</a></li>
                <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                <li class="divider"></li>
                {foreach $mem in $member}
                <li><a href="/employer/switchorg/{echo $mem->organization->id}"><i class="fa fa-briefcase fa-fw"></i> {echo $mem->organization->name}</a></li>
                {/foreach}
            </ul>
        </li>
    </ul>
</nav>

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li><a href="/employer"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
            <li>
                <a href="#"><i class="fa fa-user fa-fw"></i> Profile<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="/employer/settings">Settings</a></li>
                    <li><a href="/employer/members">Members</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-building-o fa-fw"></i> Company<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="/organization/{echo Framework\StringMethods::url($employer->organization->name)}/{echo $employer->organization->id}" target="_blank">View</a></li>
                    <li><a href="https://www.linkedin.com/company/{echo $employer->organization->linkedin_id}" target="_blank">LinkedIn</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-graduation-cap fa-fw"></i> My Internships<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="/opportunities/postinternship">Create</a></li>
                    <li><a href="/opportunities/internships">Manage</a></li>
                    <li><a href="/opportunities/applicants">Applicants</a></li>
                </ul>
            </li>
            {if(($employer->organization->account == "training") || ($employer->organization->account == "competition"))}
            <li>
                <a href="#"><i class="fa fa-users fa-fw"></i> My Trainings<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="/oppotunities/posttraining">Create</a></li>
                    <li><a href="/oppotunities/trainings">Manage</a></li>
                    <li><a href="/oppotunities/registerations">Applicants</a></li>
                </ul>
            </li>
            {/if}
            {if($employer->organization->account == "competition")}
            <li>
                <a href="#"><i class="fa fa-trophy fa-fw"></i> My Competitions<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="/employer/followers">Create Test</a></li>
                    <li><a href="/employer/reach">Reach</a></li>
                </ul>
            </li>
            {/if}
            <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Analytics<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="/employer/followers">Followers</a></li>
                    <li><a href="/employer/reach">Reach</a></li>
                </ul>
            </li>
            <li><a href="/employer/messages"><i class="fa fa-envelope fa-fw"></i> Messages</a></li>
            <li><a href="/employer/resources"><i class="fa fa-wrench fa-fw"></i> Resources</a></li>
        </ul>
    </div>
</nav>