<nav class="navbar" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- Be sure to leave the brand out there if you want it shown -->
            <a href="/" class="whitetext"><img src="{echo CDN}images/new-logo-small.png" alt="Swiftintern Logo" width="50" height="50"> Swiftintern</a>
        </div>

        <!-- post or upload cv -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/resume-for-internship" class="whitetext"><i class="fa fa-file-text-o fa-lg"></i> Create Resume</a></li>
                <li><a href="/onlinetest" class="whitetext hidden-sm"><i class="fa fa-clock-o fa-lg"></i> Certification Test</a></li>
                <li><a href="/training" class="whitetext hidden-sm"><i class="fa fa-black-tie fa-lg"></i> Workshops</a></li>
            </ul>
            <!-- the menu -->
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    {if isset($user)}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle whitetext" data-toggle="dropdown"><i class="fa fa-user fa-lg"></i> {$user->name} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/{$user->type}">Profile</a></li>
                            <li class="divider"></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </li>
                    {/if}
                    {else}
                    <li><a href="/students/register" class="whitetext"><i class="fa fa-user-plus fa-lg"></i> Students</a></li>
                    <li><a href="/employer/register" class="whitetext"><i class="fa fa-briefcase fa-lg"></i> Employer</a></li>
                    {/else}

                </ul>
            </div>
        </div>
    </div>
</nav>