<header class="sb-page-header">
    <div class="container">
        <h1>Organizations</h1>
        <p></p>
    </div>
</header>
<section class="container">
    <div class="row">
        <div class="col-xs-12 col-md-9">
            <div class="row masonry-container" id="search_results">
                {foreach $organization in $organizations}
                <div class="col-sm-4 col-md-3 item">
                    <div class="thumbnail">
                        <img src="/thumbnails/{echo $organization->photo_id}" alt="{echo $organization->name}" width="80">
                        <div class="caption">
                            <p><a href="organization/{echo \Framework\StringMethods::url($organization->name)}/{echo $organization->id}"><small>{echo substr($organization->name, 0, 20)}</small></a></p>
                        </div>
                    </div>
                </div>
                {/foreach}
            </div>
            <div class="text-center">
                <button id="loadmorebtn" onclick="loadmoreComps(++page, '12');" class="btn btn-primary">Load More</button><hr>
            </div>
        </div>
        <aside class="col-xs-12 col-md-3">
            <a href="employer/register" class="btn btn-warning btn-lg btn-block"><i class="fa fa-briefcase fa-lg"></i> Register Company</a><br>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Search Company</h3>
                </div>
                <div class="panel-body">
                    <form id="orgsearch">
                        <div class="form-group">
                            <label>Company</label>
                            <input type="search" name="orgkeyword" id="orgkeyword" class="form-control" placeholder="Enter Name">
                            <small class="help-block"></small>
                        </div>
                        <br>
                        <input type="submit" class="btn btn-primary input-lg btn-block" value="Search">
                    </form>
                </div>
            </div>
        </aside>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.1/masonry.pkgd.min.js"></script>
<script type="text/javascript">
    var page = 2;
    $(document).ready(function () {
        $(".navbar").css("margin-bottom", "0px");
        var container = $(".masonry-container");
        container.masonry({
            columnWidth: ".item",
            itemSelector: ".item"
        });
    });
</script>