<header class="sb-page-header">
    <div class="container">
        <h1>Placement Papers</h1>
        <p>All Company with Placement Papers and Interview Experiences</p>
    </div>
</header>
<div class="container">
    <div class="row">
        <article class="row masonry-container" id="results">
            {foreach $organization in $organizations}
                <div class="col-sm-4 col-md-3 item">
                    <div class="thumbnail">
                        <img src="/thumbnails/{echo $organization->photo_id}" alt="{echo $organization->name}" width="100">
                        <div class="caption">
                            <p><small>{echo substr($organization->name, 0, 18)}</small></p>
                            <p>
                                <a href="organization/{echo \Framework\StringMethods::url($organization->name)}/{echo $organization->id}#experience" class="btn btn-primary btn-sm" role="button">Papers</a> 
                                <a href="organization/{echo \Framework\StringMethods::url($organization->name)}/{echo $organization->id}" class="btn btn-info btn-sm">Profile</a></p>
                        </div>
                    </div>
                </div>
            {/foreach}
        </article>
        <div class="text-center">
            <button id="loadmorebtn" onclick="loadmoreExpComp(++page, '12');" class="btn btn-primary">Load More</button><hr>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.1/masonry.pkgd.min.js"></script>
<script type="text/javascript">
    var page = 2;
    $(document).ready(function () {
        $(".navbar").css("margin-bottom", "0px");
        var container = $(".masonry-container");
        container.masonry({
            columnWidth: ".item",
            itemSelector: ".item"
        });
    });
</script>