<section class="container">
    <div class="row">
        <h1 class="page-header text-center">Share Experience</h1>
        <ol class="breadcrumb">
            <li><a href="/home">Home</a></li>
            <li><a href="/placement-papers">Companies</a></li>
            <li class="active">Add Experience</li>
        </ol>
        {if isset($success)}
        <div class="alert alert-success alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            Saved <strong>Successfully!</strong>
        </div>
        {/if}
        <div class="col-md-offset-2 col-lg-8">
            <form class="form-horizontal" method="post" action="">
                <div class="form-group">
                    <label class="control-label">Company Name</label>
                    <input type="text" name="organization" class="form-control" required="" placeholder="start typing full name...">
                </div>
                <div class="form-group">
                    <label class="control-label">Title</label>
                    <input type="text" name="title" class="form-control" placeholder="eg. Intern, Sales Executive, etc" value="{echo $work->designation}">
                </div>
                <div class="form-group">
                    <label class="control-label">Details</label>
                    <textarea name="details" class="form-control editor" required="" placeholder="explain your experience " rows="3"></textarea>
                </div>
                <input type="hidden" name="action" value="saveWork">
                <button type="submit" class="btn btn-success pull-right">Save <i class="fa fa-check-circle fa-fw"></i></button>
            </form>
        </div>
    </div><br>
</section>