<section class="container">
    <div class="row">
        <h1 class="page-header text-center">Applications</h1>
        <ol class="breadcrumb">
            <li><a href="/home">Home</a></li>
            <li><a href="/students">Profile</a></li>
            <li class="active">Applications</li>
        </ol>

        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-check-square fa-fw"></i> Applications
                <div class="pull-right">
                    <div class="btn-group">
                        <button name="message" data-property="user" data-propertyid="1" class="btn btn-danger btn-xs"><i class="fa fa-exclamation-circle fa-fw"></i> Report</button>
                    </div>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Opportunity</th>
                        <th>Status</th>
                        <th>Company</th>
                        <th>Applied</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {if ($applications)}
                    {foreach $application in $applications}
                        {script $opportunity = Opportunity::first(array("id = ?" => $application->opportunity_id), array("id", "title", "user_id", "organization_id"))}
                        {script $organization = Organization::first(array("id = ?" => $opportunity->organization_id), array("id", "name", "linkedin_id"))}
                        <tr>
                            <td><a href="/{echo \Framework\StringMethods::url($opportunity->title)}/{$opportunity->id}" target="_blank">{echo $opportunity->title}</a></td>
                            <td>{$application->status}</td>
                            <td><a href="/organization/{echo \Framework\StringMethods::url($organization->name)}/{$organization->id}" target="_blank">{$organization->name}</a></td>
                            <td>{$application->created}</td>
                            <td>
                                <a href="/students/resume/{$application->student_id}" class="btn btn-info btn-xs"><i class="fa fa-file-text-o fa-fw"></i> Resume</a>
                                <button name="message" data-property="user" data-propertyid="{$opportunity->user_id}" class="btn btn-warning btn-xs"><i class="fa fa-envelope fa-fw"></i> Message Company</button> 
                            </td>
                        </tr>
                    {/foreach}
                {/if}
                {else}
                    <p class="text-center">You have not applied to any Opportunity/internship available. Do apply to Internship/Opportunity mathching your Profile.</p>
                {/else}
                </tbody>
            </table>
        </div>
        
        <label>Note :</label>
        <p>If the Status of the application "applied" is not changed within 10 days after the last date, you can <a href="/contact" target="_blank">contact us</a>.</p>
        <p>For any help you can you can <a href="/contact" target="_blank">contact us</a> anytime 24X7, we would be happy to help.</p>
    </div>
</section>