{include layouts/modal/qualification.html}
{include layouts/modal/work.html}
<section class="container">
    <div class="row">

        <div class="col-xs-12 col-md-3">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-user"></i> Profile Status
                </div>
                <div class="panel-body">
                    <p><b>Your profile is {echo $profile}% complete</b></p>
                    <p>
                        {if(!count($works))}
                        <a href="students/work">Add Work Experience</a>
                        {/if}
                    </p>
                    <p>
                        {if(!count($qualifications))}
                        <a href="students/qualification">Add Education details</a>
                        {/if}
                    </p>
                    <p>
                        {if(!count($resumes))}
                        <a href="#">New Resume</a>
                        {/if}
                    </p>
                </div>

            </div>

        </div>

        <div class="col-xs-12 col-md-9">

            <div class="panel panel-success">
                <div class="panel-body">
                    <h2 class="text-center">{echo $user->name}</h2>
                </div>

                <div class="panel-heading">
                    Objective
                    <div class="pull-right">
                        <a href="/students/settings#student" class="btn btn-info btn-xs"><i class="fa fa-edit fa-fw"></i> Add/Edit</a>
                    </div>
                </div>
                <div class="panel-body">
                    Completing this is very important to making a good impression with employers. 
                </div>

                <div class="panel-heading">
                    Education Details
                    <div class="pull-right">
                        <button data-toggle="modal" data-target="#modal_qualification" class="btn btn-info btn-xs"><i class="fa fa-plus-square fa-fw"></i> Add More</button>
                    </div>
                </div>
                <table class="table">
                    {if (count($qualifications) == '0')}
                    <p class="text-center">Please add all your Qualification and current education to be able to select in any internship. college training also counts.</p>
                    {/if}
                    {else}
                    <thead>
                        <tr>
                            <th>Qualification</th>
                            <th>Major/Branch</th>
                            <th>Institution/School</th>
                            <th>Percentage or GPA</th>
                            <th>Year of Passing</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="qualification">

                        {foreach $qualification in $qualifications}
                        {script $organization  = Organization::first(array("id = ?" => $qualification->organization_id), array("id", "name"))}
                        <tr>
                            <td>{echo $qualification->degree}</td>
                            <td>{echo $qualification->major}</td>
                            <td><a href="organization/{echo urlencode($organization->name)}/{echo $organization->id}" target="_blank">{echo $organization->name}</a></td>
                            <td>{echo $qualification->gpa}</td>
                            <td>{echo $qualification->passing_year}</td>
                            <td>
                                <a href="/students/qualification/{echo $qualification->id}" class="btn btn-primary btn-xs"><i class="fa fa-edit fa-fw"></i> Edit</a>
                            </td>
                        </tr>
                        {/foreach}
                        {/else}
                    </tbody>
                </table>

                <div class="panel-heading">
                    Experience
                    <div class="pull-right">
                        <button data-toggle="modal" data-target="#modal_work" class="btn btn-info btn-xs"><i class="fa fa-plus-square fa-fw"></i> Add More</button>
                    </div>
                </div>
                <table class="table">
                    {if (count($works) == '0')}
                    <p class="text-center">You have not added any work Experience till now Please add any Experience to be able to select in any internship. small work as working fest counts.</p>
                    {/if}
                    {else}
                    <thead>
                        <tr>
                            <th>Organization</th>
                            <th>Designation</th>
                            <th>Responsibility</th>
                            <th>Duration</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        {foreach $work in $works}
                        {script $organization  = Organization::first(array("id = ?" => $work->organization_id), array("id", "name"))}
                        <tr>
                            <td><a href="organization/{echo urlencode($organization->name)}/{echo $organization->id}" target="_blank">{echo $organization->name}</a></td>
                            <td>{echo $work->designation}</td>
                            <td>{echo $work->responsibility}</td>
                            <td>{echo $work->duration}</td>
                            <td>
                                <a href="/students/work/{echo $work->id}" class="btn btn-danger btn-xs"><i class="fa fa-edit fa-fw"></i> Edit</a>
                            </td>
                        </tr>
                        {/foreach}
                        {/else}
                    </tbody>
                </table>

                <div class="panel-heading">
                    Skills
                    <div class="pull-right">
                        <a href="/students/settings#student" class="btn btn-info btn-xs"><i class="fa fa-edit fa-fw"></i> Add/Edit</a>
                    </div>
                </div>
                <div class="panel-body">
                    {$student->skills}<br>
                    <small class="help-block">Skills matter as it will help employer to chose if you are better for an internship</small>
                </div>

                <div class="panel-heading">
                    Links
                    <div class="pull-right">
                        <a href="/students/settings#profile" class="btn btn-info btn-xs"><i class="fa fa-plus-square fa-fw"></i> Add More</a>
                    </div>
                </div>
                <table class="table">
                    {if (count($socials) == '0')}
                    <p class="text-center">Show us your stuff. Add links to your website, blog or work samples.</p>
                    {/if}
                    {else}
                    <thead>
                        <tr>
                            <th>Platform</th>
                            <th>Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach $social in $socials}
                        <tr>
                            <td>{echo $social->social_platform}</td>
                            <td>{echo $social->link}</td>
                        </tr>
                        {/foreach}
                        {/else}
                    </tbody>
                </table>

            </div>

        </div>

    </div>
</section>