<section class="container">
    <div class="row">
        <h1 class="page-header text-center">Messages</h1>
        <ol class="breadcrumb">
            <li><a href="/home">Home</a></li>
            <li><a href="/students">Profile</a></li>
            <li class="active">Messages</li>
        </ol>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>The Message Sent to you or send by you is shown here.</p>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>To</th>
                        <th>Started</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach $conversation in $conversations}
                    <tr>
                        <td></td>
                        <td>{echo $conversation->created}</td>
                        <td></td>
                    </tr>
                    {/foreach}
                </tbody>
            </table>
        </div>
    </div>
</section>