<section class="container">
    <div class="row">
        <h1 class="page-header text-center">Messages</h1>
        <ol class="breadcrumb">
            <li><a href="/home">Home</a></li>
            <li><a href="/students">Profile</a></li>
            <li class="active">Messages</li>
        </ol>
        <div class="panel panel-default">
            <div class="panel-body">
                <p id="status">The Messages Sent to you.</p>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>From</th>
                        <th>At</th>
                        <th>Message</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach $conversation in $conversations}
                    {script $user = User::first(array("id = ?"=>$conversation->user_id),array("name"))}
                    {script $message = Message::first(array("id = ?"=>$conversation->message_id),array("body","created"))}
                    <tr>
                        <td>{$user->name}</td>
                        <td><small>{$message->created}</small></td>
                        <td>{$message->body}</td>
                        <td>
                            <button name="message" data-property="user" data-propertyid="{$conversation->user_id}" class="btn btn-warning btn-xs"><i class="fa fa-envelope fa-fw"></i> Reply</button>
                        </td>
                    </tr>
                    {/foreach}
                </tbody>
            </table>
        </div>
    </div>
</section>