<section class="container">
    <div class="row">
        <h1 class="page-header text-center">{$user->name}</h1>
        <div class="col-md-offset-2 col-lg-8">
            <h3 id="basic">Basic Details</h3>
            <div class="panel panel-default">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Email</td>
                            <td>{$user->email}</td>
                        </tr>
                        <tr>
                            <td>Phone</td>
                            <td>{$user->phone}</td>
                        </tr>
                        <tr>
                            <td>City</td>
                            <td>{$student->skills}</td>
                        </tr>
                        <tr>
                            <td>About</td>
                            <td>{$student->about}</td>
                        </tr>
                        {foreach $social in $socials}
                        <tr>
                            <td>{$social->social_platform}</td>
                            <td><a href="/users/link/{echo base64_encode($social->link)}" target="_top">{$social->link}</a></td>
                        </tr>
                        {/foreach}
                    </tbody>
                </table>
            </div><br>
            
            <h3 id="basic">Educational Qualification</h3>
            <div class="panel panel-default">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Qualification</th>
                            <th>Major/Branch</th>
                            <th>Institution/School</th>
                            <th>Percentage or GPA</th>
                            <th>Year of Passing</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach $qualification in $qualifications}
                        {script $organization  = Organization::first(array("id = ?" => $qualification->organization_id), array("id", "name"))}
                        <tr>
                            <td>{echo $qualification->degree}</td>
                            <td>{echo $qualification->major}</td>
                            <td><a href="organization/{echo urlencode($organization->name)}/{echo $organization->id}" target="_blank">{echo $organization->name}</a></td>
                            <td>{echo $qualification->gpa}</td>
                            <td>{echo $qualification->passing_year}</td>
                        </tr>
                        {/foreach}
                    </tbody>
                </table>
            </div><br>
            
            <h3 id="basic">Work Experience</h3>
            <div class="panel panel-default">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Organization</th>
                            <th>Designation</th>
                            <th>Responsibility</th>
                            <th>Duration</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach $work in $works}
                        {script $organization  = Organization::first(array("id = ?" => $work->organization_id), array("id", "name"))}
                        <tr>
                            <td><a href="organization/{echo urlencode($organization->name)}/{echo $organization->id}" target="_blank">{echo $organization->name}</a></td>
                            <td>{echo $work->designation}</td>
                            <td>{echo $work->responsibility}</td>
                            <td>{echo $work->duration}</td>
                        </tr>
                        {/foreach}
                    </tbody>
                </table>
            </div><br>

            <h3 id="basic">Test Participated</h3>
            <div class="panel panel-default">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Test Title</th>
                            <th>Given</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach $participant in $participants}
                        {script $test  = Test::first(array("id = ?" => $participant->test_id), array("title"))}
                        <tr>
                            <td><a href="/onlinetest/details/{echo urlencode($test->title)}/{echo $test->id}" target="_blank">{echo $test->title}</a></td>
                            <td>{echo $participant->created}</td>
                            {if($participant->score)}
                            <td>{echo $participant->score}</td>
                            {/if}
                            {else}
                            <td>Not Completed</td>
                            {/else}
                        </tr>
                        {/foreach}
                    </tbody>
                </table>
            </div><br>

        </div>
    </div>
</section>