<section class="container">
    <div class="row">
        <h1 class="page-header text-center">Get Experience | Add Value to your CV</h1> 
        <p class="text-center"><button onclick=studentLogin("linkedin") class="btn btn-primary"><i class="fa fa-linkedin fa-lg"></i>  | Continue with Linkedin</button> <button onclick=studentLogin("google") class="btn btn-danger"><i class="fa fa-google fa-lg"></i>  | Continue with Google+</button></p>
        <div class="col-md-8 col-lg-offset-2 panel panel-default panel-body">
            <div class="media">
                <div class="media-left">
                    <i class="fa fa-graduation-cap fa-4x"></i>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Internships, Training and Competitions</h4>
                    <p>An internship isnt just any temporary job. It can be a bridge to your lifes work or an experiment in a career that interests you. Well this is the place to start.</p>
                </div>
            </div>
            <br>
            <div class="media">
                <div class="media-left">
                    <i class="fa fa-comments fa-5x"></i>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Experiences</h4>
                    <p>Share your Interview experience, Internship Experience and also broswse through thousands of students experiences through our App.</p>
                </div>
            </div>						
            <br>
            <div class="media">
                <div class="media-left">
                    <i class="fa fa-certificate fa-5x"></i>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Certification</h4>
                    <p>The skill certification challenge is all about awarding the people, the recognition they deserve!, we send you certificate at your address.</p>
                </div>
            </div>
            <br>
            <div class="media">
                <div class="media-left">
                    <i class="fa fa-users fa-4x"></i>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Friends Internship Status</h4>
                    <p>Get notified of their internship status such as when they applied, application status etc. through social media such as facebook, linkedin, google+</p>
                </div>
            </div>
            <br>
            <div class="media">
                <div class="media-left">
                    <i class="fa fa-file-text-o fa-5x"></i>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Resume and CV</h4>
                    <p>With our Resume Creator you can create awesome resumes of all type technical, non-technical, cover letter CVs etc. These Resume will behelpful in applying for jobs and internship.</p>
                </div>
            </div>
            <br>
        </div>
    </div>
</section>