<section class="container">
    <div class="row">
        <h1 class="page-header text-center">Settings</h1>

        <div class="col-lg-9 col-lg-offset-1">
            <ol class="breadcrumb">
                <li><a href="home"><i class="fa fa-home fa-fw"></i> Home</a></li>
                <li><a href="students/profile"><i class="fa fa-user fa-fw"></i> Profile</a></li>
                <li class="active"><i class="fa fa-gear fa-fw"></i> Settings</li>
            </ol>
            <form class="panel panel-default" id="basics">
                <div class="panel-body"><br>
                    <legend>Basic Details</legend>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label for=""><i class="fa fa-user"></i> Full Name</label>
                                <input type="text" name="name" class="form-control" required="" value="{echo $user->name}">
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label for=""><i class="fa fa-envelope"></i> E-mail</label>
                                <input type="email" name="email" class="form-control" required="" value="{echo $user->email}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label for=""><i class="fa fa-mobile"></i> Mobile</label>
                                <input type="tel" name="phone" class="form-control" required="" value="{echo $user->phone}">
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label for=""><i class="fa fa-pencil"></i> Objective</label>
                                <input type="text" name="about" class="form-control" placeholder="{echo $student->about}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label for=""><i class="fa fa-wrench"></i> Skills</label>
                                <input type="text" name="skills" class="form-control" required="" value="{echo $student->skills}">
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label for=""><i class="fa fa-map-marker"></i> Address/City</label>
                                <input type="text" name="city" class="form-control" required="" placeholder="{echo $student->city}">
                            </div>
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <input type="hidden" name="action" value="create_resume_basics">
                        <button type="submit" class="btn btn-success pull-right">Next <i class="fa fa-arrow-circle-o-right fa-fw"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>