<section class="container">
    <div class="row">
        <h1 class="page-header text-center">Work Experience</h1>

        <div class="col-lg-9 col-lg-offset-1">
            <ol class="breadcrumb">
                <li><a href="home"><i class="fa fa-home fa-fw"></i> Home</a></li>
                <li><a href="students/profile"><i class="fa fa-user fa-fw"></i> Profile</a></li>
                <li class="active"><i class="fa fa-male fa-fw"></i> Add Work Experience</li>
            </ol>
            <form class="panel panel-default">
                <div class="panel-body">

                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label for=""><i class="fa fa-bank"></i> Company/Organization Name</label>
                                <input type="text" list="companies" name="name[]" class="form-control" required="" placeholder="start typing..." autocomplete="off">
                                <datalist id="companies"></datalist>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label for=""><i class="fa fa-calendar"></i> Duration</label>
                                <input type="text" name="duration[]" class="form-control" required="" placeholder="eg. May 2014 to July 2014">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label for=""><i class="fa fa-line-chart"></i> Responsibility</label>
                                <textarea name="responsibility[]" class="form-control" placeholder="explain what work you did."></textarea>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label for=""><i class="fa fa-certificate"></i> Designation</label>
                                <input type="text" name="designation[]" class="form-control" required="" placeholder="eg. Intern, Sales Executive, etc">
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        loadCompanies();
    });
</script>