<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{echo strip_tags($seo->getDescription())}" />
    <meta name="keywords" content="{echo strip_tags($seo->getKeywords())}">
    <meta name="author" content="{echo $seo->getAuthor()}" />
    <meta name="msvalidate.01" content="B1BCAA5861C00450565B6B8C742070DF" />
    <meta name="copyright" content="SWIFTDEAL ONLINE LLP 2015">
    <meta name="email" content="info[at]swiftintern[dot]com">
    <meta http-equiv="Content-Language" content="en">
    <meta name="Rating" content="General">
    <meta name="Distribution" content="Global">
    <meta name="Robots" content="{echo $seo->getRobots()}">
    <meta name="Revisit-after" content="1 Day">
    <link rel="author" href="{echo $seo->getAuthor()}" />
    <link rel="publisher" href="{echo $seo->getAuthor()}">
    <link rel="shortcut icon" href="{echo CDN}images/favicon.ico" type="image/x-icon">
    <link rel="icon" type="image/x-icon" href="{echo CDN}images/favicon.ico" />
    
    <title>{echo $seo->getTitle()}</title>
    <!-- styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link href="{echo CDN}css/custom-1.0.css" rel="stylesheet" />
    <link href="{echo CDN}plugins/chosen/chosen.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    
    <script src="http://tinymce.cachefly.net/4.1/tinymce.min.js"></script>
    <script type="text/javascript">
    tinymce.init({
        selector: ".editor",
        plugins: [
            "advlist autolink lists link image charmap print preview anchor",
            "searchreplace visualblocks code fullscreen",
            "insertdatetime media table contextmenu"
        ],
        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
        autosave_ask_before_unload: false,
        max_height: 200,
        min_height: 160,
        height : 180
    })
    </script>
    
    <!-- facebook -->
    <meta property="og:title" content="{echo $seo->getTitle()}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:image" content="{echo $seo->getPhoto()}"/>
    <meta property="og:url" content="{echo URL}"/>
    <meta property="og:description" content="{echo strip_tags($seo->getDescription())}"/>
    <meta property="fb:app_id" content="561287280655510"/>
    
    <!-- twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="{echo URL}">
    <meta name="twitter:title" content="{echo $seo->getTitle()}">
    <meta name="twitter:description" content="{echo strip_tags($seo->getDescription())}">
    <meta name="twitter:image" content="{echo $seo->getPhoto()}">
</head>

<body>
    
    {include layouts/navigation/public.html}
    {include layouts/modal/message.html}

    {ayield action}

    <!-- the bottom client image -->
    <div class="clients hidden-print">
        <div class="container">
            <img src="{echo CDN}images/clients.png" alt="clients" class="img-responsive">
        </div>
    </div>

    <!-- the footer -->
    <footer class="hidden-print">
        <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3">
                <h4><i class="fa fa-graduation-cap fa-lg"></i>SwiftIntern</h4>
                <nav>
                <ul class="list-unstyled list-social-icons">
                    <li><a href="/about" class="whitetext">About</a></li>
                    <li><a href="/blog" class="whitetext">Intern Blog</a></li>
                    <li><a href="/termsofservice" class="whitetext">Terms of Use</a></li>
                    <li><a href="/privacy" class="whitetext">Privacy</a></li>
                    <li><a href="/contact" class="whitetext">Contact Us</a></li>
                </ul>
                </nav>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <h4><i class="fa fa-user fa-lg"></i> Students</h4>
                <nav>
                <ul class="list-unstyled list-social-icons">
                    <li><a href="/student/register" class="whitetext">Register</a></li>
                    <li><a href="/resume-for-internship" class="whitetext">Resume for Internship</a></li>
                    <li><a href="/onlinetest" class="whitetext">Online Test</a></li>
                    <li><a href="/internship/details/Campus-Ambassador-of-SwiftIntern-/413" class="whitetext">Campus Ambassador</a></li>
                </ul>
                </nav>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <h4><i class="fa fa-briefcase fa-lg"></i> Employers</h4>
                <nav>
                <ul class="list-unstyled list-social-icons">
                    <li><a href="/employer/register" class="whitetext">Register your Company</a></li>
                    <li><a href="/employer/about" class="whitetext">About/Benefits</a></li>
                    <li><a href="/organizations" class="whitetext">Companies</a></li>
                </ul>
                </nav>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <h4><i class="fa fa-users fa-lg"></i> Follow Us</h4>
                <nav>
                <ul class="list-unstyled list-social-icons">
                    <li><i class="fa fa-facebook"></i><a href="https://facebook.com/swiftintern" class="whitetext" target="_blank"> Facebook</a></li>
                    <li><i class="fa fa-twitter"></i><a href="https://twitter.com/swiftintern" class="whitetext" target="_blank"> Twitter</a></li>
                    <li><i class="fa fa-google-plus"></i><a href="https://plus.google.com/+Swiftinternindia" rel="publisher" class="whitetext" target="_blank"> Google+</a></li>
                    <li><i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/company/swiftintern-com" class="whitetext" target="_blank"> LinkedIn</a></li>
                    <li><i class="fa fa-github-square"></i><a href="https://github.com/Swiftintern/Swiftintern/" class="whitetext" target="_blank"> Github</a></li>
                </ul>
                </nav>
            </div>
        </div>
            <hr>
            <p>
                <a href="https://github.com/SwiftMVC/SwiftMVC" target="_blank" class="whitetext btn btn-success btn-xs"><i class="fa fa-heart-o fa-fw"></i> Made with SwiftMVC</a>
                <span class="pull-right">
                    <a href="http://www.swiftdeal.org/" class="whitetext"><i class="fa fa-copyright fa-fw"></i> SwiftDeal Online LLP.</a>
                </span>
            </p>
            <p class="text-center">
                <i class="fa fa-credit-card fa-lg"></i> <i class="fa fa-cc-visa fa-lg"></i> <i class="fa fa-cc-mastercard fa-lg"></i> <i class="fa fa-cc-discover fa-lg"></i>
            </p>
        </div>
    </footer>
    
    <script type="text/javascript" src="{echo CDN}plugins/chosen/chosen.jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{echo CDN}plugins/bootbox/bootbox.min.js"></script>
    <script type="text/javascript" src="{echo CDN}js/model.js"></script>
    <script type="text/javascript" src="{echo CDN}js/public-3.1.js"></script>
</body>
</html>