<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header text-center">{echo $internship->title}</h1>
            {if isset($success)}
            <div class="alert alert-success alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                Internship Updated <strong>Successfully!</strong>
            </div>
            {/if}
            <p class="pull-right">
                <a href="/internship/addQuestions/{$internship->id}" target="_blank" class="btn btn-primary"><i class="fa fa-plus-square fa-lg"></i> Add Questions?</a>
            </p>
            <form class="panel panel-default text-center" method="post" action="">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><b>Id</b></td>
                            <td>{echo $internship->id}</td>
                        </tr>
                        <tr>
                            <td><b>Title</b></td>
                            <td><input type="text" class="form-control" name="title" value="{echo $internship->title}"></td>
                        </tr>
                        <tr>
                            <td><b>Skills</b></td>
                            <td><input type="text" class="form-control" name="eligibility" value="{echo $internship->eligibility}"></td>
                        </tr>
                        <tr>
                            <td><b>Last Date</b></td>
                            <td><input type="text" class="form-control" name="last_date" value="{echo $internship->last_date}"></td>
                        </tr>
                        <tr>
                            <td><b>Details</b></td>
                            <td><textarea class="form-control editor" name="details">{echo $internship->details}</textarea></td>
                        </tr>
                        <tr>
                            <td><b>Compensation</b></td>
                            <td><input type="text" class="form-control" name="payment" value="{echo $internship->payment}"></td>
                        </tr>
                        <tr>
                            <td><input type="hidden" name="action" value="update"></td>
                            <td><button type="submit" class="btn btn-primary pull-right"><i class="fa fa-check-circle"></i> Update</button></td>
                        </tr>
                    </tbody>

                </table>
            </form>
        </div>
    </div>
</div>
