<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header text-center">Internships</h1>
            <div class="panel panel-default">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Posted</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach $internship in $internships}
                        {script $meta = Meta::first(array("property = ?" => "company_share_opportunity", "property_id = ?" => $internship->id, "meta_key = ?" => "updateUrl"))}
                        <tr>
                            <td>{echo $internship->id}</td>
                            <td><a href="/internship/{echo urlencode($internship->title)}/{echo $internship->id}" target="_blank" >{echo $internship->title}</a></td>
                            <td>{echo $internship->created}</td>
                            <td>
                                <button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button>&nbsp;
                                <a href="{echo $meta->meta_value}" target="_blank" class="btn btn-primary btn-xs"><i class="fa fa-linkedin"></i></a>&nbsp;
                                <a href="/internship/applicants/{$internship->id}" class="btn btn-success btn-xs"><i class="fa fa-fax"></i> Applications </a>&nbsp;
                                <a href="/internship/edit/{$internship->id}" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i> Edit </a>&nbsp;
                            </td>
                        </tr>
                        {/foreach}
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
</div>