<header class="sb-page-header">
    <div class="container">
        <h1>
            Swiftintern Student Partner
            <span class="pull-right">
                <img src="http://swiftintern.com/public/assets/images/others/sp.png" class="img-circle" width="200">
            </span>
        </h1>
        <p>
            Become your campus hero<br><br>
            <a href="/internship/details/SwiftIntern+Student+Partner/413" class="btn btn-primary btn-lg"><i class="fa fa-check fa-lg"></i> | Apply</a>
        </p>
    </div>
</header>
<section class="container">
    <article class="row blog">
        <div class="col-lg-8">
            <p>The swiftintern student partner is an exclusive opportunity for matriculated university students around the country  to gain valuable start up experience of their own.  SSP acts as an interface between colleges and swiftintern . Successful applicants will have access to professional development, and networking. Each SSP will have the opportunity to do something worthwhile  for their campuses.</p>
            <p>Skills - You will learn skills like leadership, marketing, convincing, communication, social</p>
            <p>Media marketing and team work.</p>
            <p>Get mentored on various topics by the Swiftintern team.</p>
            <p>Interact and acquire from some of the best students across the country.</p>
            <p>Certificate of Excellence from Swiftintern.</p>
            <p>Earn According to your performance.</p>
            <p>You can be an impressive person of your college.</p>
            <p>Organize workshops and seminars in your college.</p>
            <p>This is an opportunity to enhance your social and professional network.</p>
            <p>You will get a chance to polish your leadership quality.</p>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6"><i class="fa fa-users fa-5x"></i></div>
                        <div class="col-xs-6 text-right">
                            <p class="announcement-heading huge">100+</p>
                            <p class="announcement-text">Student Partners</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="panel panel-default panel-body">
                <h3>Organize Workshops(Free)</h3>
                <p>You will get a chance to organize workshops at your college and learn new technologies for free</p>
            </div>
            
            <div class="panel panel-default panel-body">
                <h3>Internship Fair</h3>
                <p>Be the head of internship hiring at your campus.</p>
            </div>
        </div>
    </article>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $(".navbar").css("margin-bottom", "0px");
    });
</script>