<header class="intro-header" style="background-image: url('/assets/images/layouts/header-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>India's Largest Internship Portal</h1>
                    <hr class="small">
                    <span class="subheading">5,119 organizations are registered with us, register <a href="employer/register" target="_blank">here</a>.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row blog">
        <p class="">The dream...hire experienced interns who require very little, if any, training.  But this dream conflicts with reality.  How can organizations meet the needs of today and prepare the workforce of the future?  One solution is to develop a quality internship program.  We will assist you in doing just that.</p>
        <div role="tabpanel">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#intro" aria-controls="intro" role="tab" data-toggle="tab">Introduction</a></li>
                <li role="presentation"><a href="#internship" aria-controls="profile" role="tab" data-toggle="tab">Steps To Beginning An Internship Prpgram</a></li>
                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Linking & Tracking</a></li>
                <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">General Questions</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="intro">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h2>What Is An Internship?</h2>
                            <p>
                                An internship is any carefully monitored work or service experience in which a student has intentional learning goals and reflects actively on what she or he is learning throughout the experience. Characteristics include: 
                            <ul>
                                <li>Duration of anywhere from a month to two years, but a typical experience usually lasts from three to six months.  Generally a one-time experience.  May be part-time or full-time.  May be paid or non-paid.</li>
                                <li>Internships may be part of an educational program and carefully monitored and evaluated for academic credit, or internships can be part of a learning plan that someone develops individually.</li>
                                <li>An important element that distinguishes an internship from a short-term job or volunteer work is that an intentional “learning agenda” is structured into the experience.</li>
                                <li>Learning activities common to most internships include learning objectives, observation, reflection, evaluation and assessment.</li>
                                <li>An effort is made to establish a reasonable balance between the intern’s learning goals and the specific work an organization needs done.</li>
                                <li>Internships promote academic, career and/or personal development.</li>
                            </ul>
                            </p>
                        </li>
                        <li class="list-group-item">
                            <h2>How Do Internships Benefit Employers?</h2>
                            <p>
                            <ul>
                                <li>Year round source of highly motivated pre-professionals. Students bring new perspectives to old problems.</li>
                                <li>Visibility of your organization is increased on campus.</li>
                                <li>Quality candidates for temporary or seasonal positions and projects  Freedom for professional staff to pursue more creative projects   Flexible, cost-effective work force not requiring a long-term employer commitment   Proven, cost-effective way to recruit and evaluate potential employees.</li>
                                <li>Your image in the community is enhanced as you contribute your expertise to the educational enterprise.</li>
                            </ul>
                            A careful discussion with management can create a consensus on program goals that can be understood by all involved. The program and internship can be designed to best meet those expectations. As many staffing professionals may know, in order for a program to be successful, it will require the commitment of management.
                            </p>
                        </li>

                    </ul>
                </div>
                <div role="tabpanel" class="tab-pane" id="internship">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h2>Step 1: Set goals</h2>
                            <p>
                            <ul>
                                <li>What does your company hope to achieve from the program?</li>
                                <li>Are you a small company searching for additional help on a project?</li>
                                <li>Is your company growing quickly and having difficulty finding motivated new employees?</li>
                                <li>Are you a nonprofit that doesn’t have a lot of money to pay, but can provide an  interesting and rewarding experience?</li>
                                <li>Is your organization searching out new employees with management potential? </li>
                            </ul>
                            </p>
                        </li>
                        <li class="list-group-item">
                            <h2>Step 2: Write a plan</h2>
                            <p>
                                <b>Carefully plan and write out your internship program and goals.</b>
                                Managers, mentors, interns and university career centers are all going to be reading what you write about the internship.  Draft a job description that clearly explains the job’s duties. Do you want someone for a specific project? What about general support around the workplace? How about giving the intern a taste of everything your company does? Structure the internship ahead of time so that you can be sure to meet your goals and not find yourself floundering partway through. (see the Internship Position Description later)
                            </p>
                            <label>Things to think about include:</label>
                            <p>
                                <b>Will you pay the intern?</b>
                                If so, how much? Wages vary widely from field to field, so  be sure yours are competitive or offer competitive incentives.
                            </p>
                            <p>
                                <b>Where will you put the intern?</b>
                                Do you have adequate workspace for them? Will you help him or her to make parking arrangements, living arrangements, etc.?
                            </p>
                            <p>
                                <b>What sort of academic background and experience do you want in an intern?</b>
                                Decide on standards for quality beforehand — it’ll help you narrow down the choices and find the best candidates.
                            </p>
                            <p>
                                <b>Who will have the primary responsibility for the intern?</b>
                                Will that person be a mentor or merely a supervisor? 
                            </p>
                            <p>
                                <b>What will the intern be doing?</b>
                                Be as specific as possible. Interns, like others in the process of learning, need structure so they don’t become lost, confused or bored.
                            </p><p>
                                <b>Do you want to plan a program beyond the work you give your interns?</b>
                                Will there be special training programs, performance reviews, lunches with execu- tives, social events? Keep in mind that your interns are walking advertisements for your company. If they have a good experience working for you, they’re likely to tell their friends — word gets around. A bad internship, by contrast, can only hurt your chances of attracting good students for next year.
                            </p>
                            <p>
                                <b>A very important part of your plan should be the assignment of a mentor or supervisor</b>
                                that is, someone from the intern’s department who will be in charge of the intern. This person doesn’t have to be a teacher per se, but should be selected because he or she likes to teach or train and has the resources to do it. If the person you select has never mentored an intern before, give him or her some basic training in mentoring.
                            </p>
                            <p>
                                These are just some of the questions to consider. Your company’s approach will depend on your specific resources and needs.
                            </p>
                        </li>
                        <li class="list-group-item">
                            <h4>What happens after my first internship post?</h4>
                            <div class=""><p>Your post will automatically become live so that students can start applying for that. </p></div>
                        </li>
                        <li class="list-group-item">
                            <h4>What happens if I face any problem while posting internship?</h4>
                            <div class=""><p>Swiftintern support team is always there to help you. We will solve your problem as soon as possible.</p></div>
                        </li>
                    </ul>
                </div>

            </div>

        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-9">
                    <h3 class="sub-heading"><i class="fa fa-check-circle fa-fw"></i> Post Internships</h3>
                    <p>At swiftintern.com, unlike other employment sites, you can post and manage all your internship positions free of charge.</p>
                    <p>Advertise your Internship and enable Internship seekers to find you
                        Your Internship will be immediately seen by thousands of active, Internship seeking candidates
                        Receive a high volume of relevant, quality applications to choose from</p>
                </div>
                <div class="col-md-3">
                    <img src="{echo CDN}images/others/lightbulb.png" alt="Hire Interns at Swiftintern" class="thumbnail" width=200>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-9">
                    <h3 class="sub-heading"><i class="fa fa-check-circle fa-fw"></i> Access Our Student Resume Database</h3>
                    <p>Search through our growing database of qualified students looking for internship opportunities.</p>
                    <p>We have students registeration from various top colleges such as IITs, 
                        NITs and other state engineering colleges. Search our vast CV database of talented job seekers
                        Ensured maximum response with our intelligent matching technology.</p>
                </div>
                <div class="col-md-3">
                    <img src="{echo CDN}images/others/resume.png" alt="Hire Interns at Swiftintern" class="thumbnail" width=150>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-9">
                    <h3 class="sub-heading"><i class="fa fa-check-circle fa-fw"></i> See Insights and Analytics</h3>
                    <p>You can see the reach of your intership and profile directly from our site.</p>
                    <p>With our easy and simple process to apply for internships, swiftintern.com is 
                        recognised as one of the best online sites to deliver applications. Internships can be easily 
                        amended and applications viewed on the site.</p>
                </div>
                <div class="col-md-3">
                    <img src="{echo CDN}images/others/chart.png" alt="Hire Interns at Swiftintern" class="thumbnail" width=150>
                </div>
            </div>
        </div>
    </div>

    <div class="row"><hr></div>
    <div class="row text-center">
        <a href="employer/register" class="btn btn-success btn-lg"><i class="fa fa-building-o fa-lg"></i> Register Your Company</a>
    </div>
    <div class="row"><hr></div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.navbar').css('margin-bottom', '-20px');
    });
</script>