<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Frequently Asked Questions</h1>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2></h2>
                <h3></h3>

                <ul class="list-group">
                    <li class="list-group-item">
                        <h4>I have problem? How can i talk to some representative?</h4>
                        <p>For any Query email us at swiftintern@gmail.com or info@swiftintern.com, To Talk to our Tech expert call +91-9891048495</p>
                    </li>
                    <li class="list-group-item">
                        <h4>I'm a new user. Why should I start free?</h4>
                        <div class=""><p>We firmly believe that we should not charge a single penny for hiring interns.</p></div>
                    </li>
                    <li class="list-group-item">
                        <h4>How many live internships can I have at one point?</h4>
                        <div class=""><p>You can have unlimited live internships at one point which students can apply to. You can still access all your past internships from your dashboard. </p></div>
                    </li>
                    <li class="list-group-item">
                        <h4>What happens after my first internship post?</h4>
                        <div class=""><p>Your post will automatically become live so that students can start applying for that. </p></div>
                    </li>
                    <li class="list-group-item">
                        <h4>What happens if I face any problem while posting internship?</h4>
                        <div class=""><p>Swiftintern support team is always there to help you. We will solve your problem as soon as possible.</p></div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <!-- /.row -->
</div>