<?php require_once $dir_employer.'requires/header.php';?>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12"><br>
		<?php
			if (count($opportunities) == 0) {
				echo '<div class="alert alert-warning">Hi, '.$session->name.' you have not created any internship <a href="employer/create/internship">click here</a> to create.</div>';
			}
		?>
            <div class="row">
				<div class="col-lg-3">
					<div class="panel panel-info" id="opportunities_posted">
						<div class="panel-heading">
							<div class="row">
								<div class="col-xs-6"><i class="fa fa-graduation-cap fa-5x"></i></div>
								<div class="col-xs-6 text-right">
									<p class="announcement-heading huge"><?php echo count($opportunities);?></p>
									<p class="announcement-text">Opportuniy!</p>
								</div>
							</div>
						</div>
						<a href="employer/opportunities">
						<div class="panel-footer announcement-bottom">
							<div class="row">
								<div class="col-xs-6">View All</div>
								<div class="col-xs-6 text-right"><i class="fa fa-arrow-circle-right"></i></div>
							</div>
						</div>
						</a>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="panel panel-warning">
						<div class="panel-heading">
							<div class="row">
								<div class="col-xs-6"><i class="fa fa-fax fa-5x"></i></div>
								<div class="col-xs-6 text-right">
									<p class="announcement-heading huge"><?php echo $count;?></p>
									<p class="announcement-text">Applicants</p>
								</div>
							</div>
						</div>
						<a href="employer/applicants">
						<div class="panel-footer announcement-bottom">
							<div class="row">
								<div class="col-xs-6">View All</div>
								<div class="col-xs-6 text-right"><i class="fa fa-arrow-circle-right"></i></div>
							</div>
						</div>
						</a>
					</div>
				</div>
				<div class="col-lg-3">
				<div class="panel panel-success">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6"><i class="fa fa-users fa-5x"></i></div>
							<div class="col-xs-6 text-right">
								<p class="announcement-heading huge"><?php echo count($allmembers);?></p>
								<p class="announcement-text">Members</p>
							</div>
						</div>
					</div>
					<a href="employer/members">
					<div class="panel-footer announcement-bottom">
						<div class="row">
							<div class="col-xs-6">View All</div>
							<div class="col-xs-6 text-right"><i class="fa fa-arrow-circle-right"></i></div>
						</div>
					</div>
					</a>
				</div>
				</div>
				<div class="col-lg-3">
				<div class="panel panel-danger">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6"><i class="fa fa-envelope fa-5x"></i></div>
							<div class="col-xs-6 text-right">
								<p class="announcement-heading huge"><?php echo count($messages);?></p>
								<p class="announcement-text">Messages!</p>
							</div>
						</div>
					</div>
					<a href="employer/messages">
					<div class="panel-footer announcement-bottom">
						<div class="row">
							<div class="col-xs-6">View All</div>
							<div class="col-xs-6 text-right"><i class="fa fa-arrow-circle-right"></i></div>
						</div>
					</div>
					</a>
				</div>
				</div>
			</div>

			<div class="row">
				<div class="panel panel-default">
					<div class="panel-heading">
						<i class="fa fa-bullhorn fa-fw"></i> Opportunity Reach
						<form class="pull-right" id="opportunities_analytics_form">
							<div class="input-prepend input-group">
								<span class="add-on input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
								<input type="text" style="width: 200px" name="range" id="range" class="form-control" value="<?php echo $range; ?>" />
								<span class="input-group-btn">
									<input type="submit" class="btn btn-default" value="Show!">
								</span>
							</div>
						</form>
					</div>
					<div class="panel-body">
						<div id="opportunity_reach"></div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-6">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            Login Details
                        </div>
                        <div class="panel-body">
                            <p>Last Login : <?php echo datetime_to_text($user->last_login);?></p>
                            <p>Last Ip : <?php echo $user->last_ip;?></p>
                            <p>Number of Logins : <?php echo $user->login_number;?></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Account Details
                        </div>
                        <div class="panel-body">
                            <p>Created On : <?php echo datetime_to_text($user->created);?></p>
                            <p>Updated On : <?php echo datetime_to_text($user->updated);?></p>
                            <p>Type : <?php echo $user->type;?></p>
                        </div>
                    </div>
                </div>

			</div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>

<script type="text/javascript">
$(document).ready(function() {
	var organization_id = $('#organization_id').html();
	var range           = $('#range').val().split(' - ');
    var startdate       = range[0];
    var enddate         = range[1];
	fetchOpportunitiesView(organization_id, startdate, enddate).success(function (data) {
		Morris.Line({
		  element: 'opportunity_reach',
		  data: data,
		  xkey: 'y',
		  ykeys: ['a'],
		  labels: ['Reach']
		});
	});
	
});
</script>
<?php require_once $dir_employer.'requires/footer.php';?>