<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Edit</h2>
            <form class="form-inline text-center" role="form" method="post" action="/employer/internship/{echo $id}">
                <div class="form-group">
                    <div class="input-group">
                        <label class="sr-only">Opportunity</label>
                        <select name="id" class="form-control" value="{echo $internship->id}">
                            {foreach $opportunity in $opportunities}
                            <option value="{echo $opportunity->id}">{echo $opportunity->title}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <input type="hidden" name="action" value="edit">
                <button type="submit" class="btn btn-primary">Edit</button>
            </form>
            <form class="panel panel-default text-center" method="post" action="/employer/internship">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><b>Id</b></td>
                            <td>{echo $internship->id}</td>
                        </tr>
                        <tr>
                            <td><b>Title</b></td>
                            <td><input type="text" class="form-control" name="title" value="{echo $internship->title}"></td>
                        </tr>
                        <tr>
                            <td><b>Skills</b></td>
                            <td><input type="text" class="form-control" name="eligibility" value="{echo $internship->eligibility}"></td>
                        </tr>
                        <tr>
                            <td><b>Last Date</b></td>
                            <td><input type="text" class="form-control" name="last_date" value="{echo $internship->last_date}"></td>
                        </tr>
                        <tr>
                            <td><b>Details</b></td>
                            <td><textarea class="form-control editor" name="details">{echo $internship->details}</textarea></td>
                        </tr>
                        <tr>
                            <td><b>Compensation</b></td>
                            <td><input type="text" class="form-control" name="payment" value="{echo $internship->payment}"></td>
                        </tr>
                        <tr>
                            <td><input type="hidden" name="action" value="update"></td>
                            <td><button type="submit" class="btn btn-primary pull-right"><i class="fa fa-check-circle"></i> Update</button></td>
                        </tr>
                    </tbody>

                </table>
            </form>
        </div>
    </div>
</div>
