<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header text-center">Edit</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            
            <div class="panel panel-default text-center">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><b>Id</b></td>
                            <td>{echo $internship->id}</td>
                        </tr>
                        <tr>
                            <td><b>Title</b></td>
                            <td><input type="text" class="form-control" name="title" value="{echo $internship->title}"></td>
                        </tr>
                        <tr>
                            <td><b>Skills</b></td>
                            <td><input type="text" class="form-control" name="eligibility" value="{echo $internship->eligibility}"></td>
                        </tr>
                        <tr>
                            <td><b>Last Date</b></td>
                            <td><input type="text" class="form-control" name="last_date" value="{echo $internship->last_date}"></td>
                        </tr>
                        <tr>
                            <td><b>Details</b></td>
                            <td><textarea class="form-control editor" name="details">{echo $internship->details}</textarea></td>
                        </tr>
                        <tr>
                            <td><b>Compensation</b></td>
                            <td><input type="text" class="form-control" name="payment" value="{echo $internship->payment}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
