<div id="page-wrapper">
    <div class="row col-lg-12">

        <h1 class="page-header text-center">Team Members</h1>
        <div class="panel panel-default">
            <div class="panel-body" id="result_status">
                <p>Note : All people admin on your linkedin page can access your company account on swiftintern.com</p>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Joined</th>
                        <th>Designation</th>
                        <th>Authority</th>
                    </tr>
                </thead>
                <tbody id="results">
                    {foreach $mem in $allmembers}
                    {script $social = Social::first(array("user_id = ?" => $mem->user_id),array("link"))}
                    <tr>
                        <td><a href="{echo $social->link}">{echo $mem->name}</a></td>
                        <td>{echo $mem->created}</td>
                        <td>{echo $mem->designation}</td>
                        <td>{echo ucfirst($mem->authority)}</td>
                    <tr>
                    {/foreach}
                </tbody>
            </table>
        </div>
    </div>
</div>