<section class="container">
    <div class="row">
        <h1 class="page-header text-center">Hire Quality Interns</h1>
        {if(isset($message))}
            <div class="alert alert-danger" role="alert">{echo $message}</div>
        {/if}
        <p class="text-center"><a href="{echo $url}" class="btn btn-primary"><i class="fa fa-linkedin fa-lg"></i>  | Continue with Linkedin</a></p>
        <div class="col-md-8 col-md-offset-2 panel panel-default panel-body">
            <div class="media">
                <div class="media-left">
                    <i class="fa fa-check-circle fa-5x"></i>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Recruit Smart and Eligible applicants</h4>
                    <p>We have targeted students of IITs, NITs, IIMs, DTU, NSIT, DU etc from all prestigious colleges in India.</p>
                </div>
            </div>
            <br><br>
            <div class="media">
                <div class="media-left">
                    <i class="fa fa-globe fa-5x"></i>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Hold Contest</h4>
                    <p>You can create/hold contest on our platform by setting the time limit etc, and market it on our platform to get maximum participation.</p>
                </div>
            </div>
            <br><br>
            <div class="media">
                <div class="media-left">
                    <i class="fa fa-laptop fa-4x"></i>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Website Integration</h4>
                    <p>You can integrate internship/opprtunity application on your website to get maximum eligible applicants, which you can manage.</p>
                </div>
            </div>
            <br><br>
            <div class="media">
                <div class="media-left">
                    <i class="fa fa-bar-chart fa-4x"></i>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Advanced Analytics and Reports</h4>
                    <p>Get Reports on the Reach, Views, clicks on the Opportunity you posted on our platform. Analytics on Number of students applied will be shown.</p>
                </div>
            </div>
            <br><br>
            <div class="media">
                <div class="media-left">
                    <i class="fa fa-support fa-4x"></i>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Free Setup</h4>
                    <p>Call at +91-9891048495 and we will help you setup your account.</p>
                </div>
            </div>
            <br>
        </div>
    </div>
</section>