<section class="container">
    <div class="row">
        <h1 class="page-header text-center">Hire Quality Interns</h1>
        <ol class="breadcrumb">
            <li><a href="home">Home</a></li>
            <li><a href="employer/about">Employer</a></li>
            <li class="active">SignUp</li>
        </ol>
        <div class="col-md-6"><br>
            <div class="media">
                <div class="media-left">
                    <i class="fa fa-check-circle fa-5x"></i>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Recruit Smart and Eligible applicants</h4>
                    <p>We have targeted students of IITs, NITs, IIMs, DTU, NSIT, DU etc from all prestigious colleges in India.</p>
                </div>
            </div>
            <br><br>
            <div class="media">
                <div class="media-left">
                    <i class="fa fa-globe fa-5x"></i>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Hold Contest</h4>
                    <p>You can create/hold contest on our platform by setting the time limit etc, and market it on our platform to get maximum participation.</p>
                </div>
            </div>
            <br><br>
            <div class="media">
                <div class="media-left">
                    <i class="fa fa-laptop fa-4x"></i>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Website Integration</h4>
                    <p>You can integrate internship/opprtunity application on your website to get maximum eligible applicants, which you can manage.</p>
                </div>
            </div>
            <br><br>
            <div class="media">
                <div class="media-left">
                    <i class="fa fa-bar-chart fa-4x"></i>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Advanced Analytics and Reports</h4>
                    <p>Get Reports on the Reach, Views, clicks on the Opportunity you posted on our platform. Analytics on Number of students applied will be shown.</p>
                </div>
            </div>
            <br><br>
            <div class="media">
                <div class="media-left">
                    <i class="fa fa-support fa-4x"></i>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Free Setup</h4>
                    <p>Call at +91-9891048495 and we will help you setup your account.</p>
                </div>
            </div>
            <br>
        </div>
        <form method="POST" enctype="multipart/form-data" action="" class="col-md-6">
            <legend>Employer Details</legend>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <label for=""><i class="fa fa-user"></i> Full Name</label>
                        <input type="text" name="name" class="form-control" required="">
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <label for=""><i class="fa fa-envelope"></i> E-mail</label>
                        <input type="email" name="email" class="form-control" placeholder="eg. person@company.com" required="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <label for=""><i class="fa fa-key"></i> Password</label>
                        <input type="password" id="password" name="password" class="form-control" required="">
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <label for=""><i class="fa fa-mobile"></i> Mobile</label>
                        <input type="tel" name="phone" class="form-control" required="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <label for=""><i class="fa fa-linkedin"></i> LinkedIn Profile Url (Optional)</label>
                        <input type="text" name="linkedin" class="form-control">
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <label for=""><i class="fa fa-bookmark"></i> Designation</label>
                        <input type="text" name="designation" class="form-control" placeholder="eg. Founder, HR, CEO" required="">
                    </div>
                </div>
            </div>
            <legend>Company/Organization Details</legend>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <label for=""><i class="fa fa-bank"></i> Company Name</label>
                        <input type="text" name="organization" list="company_name" class="form-control" autocomplete="off" required="">
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <label for=""><i class="fa fa-at"></i> Website</label>
                        <input type="text" name="website" class="form-control" value="http://">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <label for=""><i class="fa fa-facebook-square"></i> Company Facebook Page(Optional)</label>
                        <input type="text" name="fbpage" class="form-control" placeholder="https://www.facebook.con/yourcompany">
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <label for=""><i class="fa fa-globe"></i> Country</label>
                        <input type="text" name="country" class="form-control" value="India">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <label for=""><i class="fa fa-image"></i> Company Logo <small>(Less than 1 MB)</small></label>
                        <input type="file" id="imageInput" name="photo" class="form-control" required="">
                        <div id="output"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <label for=""><i class="fa fa-at"></i> Sector</label>
                        <select name="sector" class="form-control" required="">
                            {include employer/sector.html}
                        </select>
                    </div>
                </div>
            </div>
            <br>
            <input type="hidden" name="action" value="employer_register">
            <button type="submit" class="btn btn-primary"><i class="fa fa-check-circle"></i> Register</button>
        </form>
    </div>
</section>