<div id="page-wrapper">
    <div class="row col-lg-12">
        <h1 class="page-header text-center">Settings</h1>
        {if isset($success)}
        <div class="alert alert-success alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            Saved <strong>Successfully!</strong>
        </div>
        {/if}

        {if(isset($user->phone))}
        <div class="alert alert-warning alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            Please Enter your <strong>Phone Number</strong> for verification Call
        </div>
        {/if}

        <h3 id="basic">Basic Details</h3>
        <form class="form-horizontal panel panel-default panel-body" method="post" action="">
            <div class="form-group">
                <label class="col-sm-3 control-label">Full Name</label>
                <div class="col-sm-9">
                    <input type="text" name="name" class="form-control" placeholder="Enter name" value="{$user->name}" required="">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Email</label>
                <div class="col-sm-9">
                    <input type="email" name="email" class="form-control" placeholder="Enter email" value="{$user->email}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Phone</label>
                <div class="col-sm-9">
                    <input type="tel" name="phone" class="form-control" placeholder="Enter phone number" value="{$user->phone}" required="">
                    <small class="help-block">Will be for telephonic verification</small>
                </div>
            </div>
            <input type="hidden" name="action" value="saveUser">
            <button type="submit" class="btn btn-success pull-right">Save <i class="fa fa-check-circle fa-fw"></i></button>
        </form><br>

        <h3>Account Type</h3>
        <form class="panel panel-default panel-body" method="post" action="">
            <div class="radio">
                <label>
                    <input type="radio" name="account" value="basic" {if($employer->organization->account == "basic")}checked{/if}>
                    BASIC
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="account" value="training" {if($employer->organization->account == "training")}checked{/if}>
                    TRAINING
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="account" value="competition" {if($employer->organization->account == "competition")}checked{/if}>
                    COMPETITION
                </label>
            </div>
            <input type="hidden" name="action" value="saveAccount">
            <button type="submit" class="btn btn-success pull-right">Save <i class="fa fa-check-circle fa-fw"></i></button>
        </form><br>

        <h3>Newsletter</h3>
        <ul class="list-group">
            <li class="list-group-item">Monthly Summary <span class="badge"><input type="checkbox" checked=""></span></li>
            <li class="list-group-item">Notification on Student Apply <span class="badge"><input type="checkbox" checked=""></span></li>
        </ul>

    </div>
</div>