<div id="page-wrapper">
    <div class="row col-lg-12">
        <br>
        <legend>Profile</legend>
        <p class="text-center"><a href="{echo $url}" class="btn btn-primary"><i class="fa fa-linkedin fa-lg"></i>  | Update with Linkedin</a></p>

        <legend>Newsletter</legend>
        <ul class="list-group">
            <li class="list-group-item">Monthly Summary <span class="badge"><input type="checkbox" checked=""></span></li>
            <li class="list-group-item">Notification on Student Apply <span class="badge"><input type="checkbox" checked=""></span></li>
        </ul>

    </div>
</div>