<div id="page-wrapper">
    <div class="row col-lg-12">
        <h1 class="page-header text-center">Search Details</h1>
        <form class="form-inline text-center" role="form" method="post" action="/admin/search" id="search">
            <div class="form-group">
                <div class="input-group">
                    <label class="sr-only">Table</label>
                    <select name="model" class="form-control">
                        <option value="answer">Answers</option>
                        <option value="application">Applications</option>
                        <option value="blog">BlogPosts</option>
                        <option value="certificate">Certificates</option>
                        <option value="crm">CRM Leads</option>
                        <option value="experience">Experiences</option>
                        <option value="follow">Followers</option>
                        <option value="member">Members</option>
                        <option value="message">Messages</option>
                        <option value="newsletter">Newsletters</option>
                        <option value="opportunity">Opportunities</option>
                        <option value="option">Options</option>
                        <option value="order">Orders</option>
                        <option value="organization">Organizations</option>
                        <option value="participant">Participants</option>
                        <option value="photograph">Photographs</option>
                        <option value="qualification">Qualifications</option>
                        <option value="question">Questions</option>
                        <option value="resume">Resumes</option>
                        <option value="rsvp">RSVPs</option>
                        <option value="social">Social</option>
                        <option value="sponsored">Sponsoreds</option>
                        <option value="student">Students</option>
                        <option value="test">Test</option>
                        <option value="transaction">Transactions</option>
                        <option value="user" selected="selected">Users</option>
                        <option value="work">Works</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <label class="sr-only">Field</label>
                    <input type="text" style="width: 100px" name="key" class="form-control" placeholder="Field" value="id" />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <label class="sr-only">Keyword</label>
                    <input type="text" style="width: 300px" name="value" class="form-control" placeholder="value..." />
                </div>
            </div>
            <input type="hidden" name="action" value="search">
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
        <hr>
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-list fa-fw"></i> Results
            </div>
            <div class="panel panel-body text-center" id="result_status">
                {if(isset($success))}
                    {echo $success}
                {/if}
                {else}
                    Select field to search and enter keyword and then click on search button to see results.
                {/else}
            </div>
            <table class="table table-hover table-striped">
                <tbody id="results">
                {foreach $result in $results}
                    {script $vars = $result->getJsonData()}
                    {foreach $var in $vars}
                        <tr>
                            <td>{echo $var}</td>
                        </tr>
                    {/foreach}
                    <hr>
                {/foreach}
                </tbody>
            </table>
            <div id="after_results" class="text-center"></div>
        </div>
    </div>
</div>