Hi,<br>
The Following Students Have Applied to Opportunity (Internship) yesterday which you have Posted on Swiftintern.com, You are Requested to go through their application and select or reject them within 15 days starting from today.<br>
We will notify them with Results. you can contact them also by viewing their profile through email or phone from <a href="http://swiftintern.com/employer/register">employer</a> dashboard.<br>
<br>
<ul>
    <li>Internship : <a href="http://swiftintern.com/{Framework\StringMethods::url($opportunity->title)}/{$opportunity->id}"><b>{$opportunity->title}</b></a></li>
    <li>New Applications : <b>{$applicants}</b></li>
</ul>
<br>
<b>Need help?</b> Just call our Employer Care team at +91-9891048495 or email info@swiftintern.com. <br>
<br>
Regards,<br>
Saud Akhtar<br>
Marketing Head Swiftintern.com<br>
+91-9891048495<br>
<br>
We're on <a href="https://www.facebook.com/swiftintern">Facebook</a> and <a href="https://twitter.com/swiftintern">Twitter</a> giving you the latest tips, news & internships.