<img src="http://assets.swiftintern.com/images/headerlogo.png" style='width:100%;'><br>
<br>
Thank you for creating an SwiftIntern.com account, {$user->name}.<br>
You or any team member who is managing your company page on linkedin can login any time.<br>
<br>
We are unique from other internship portals we focus on new features as adding team members and Application sorting.<br>
<br>
<b></b>
<ul>
    <li><a href="http://swiftintern.com/employer/postinternship">Post your internships for free</a></li>
    <li>Visit our <a href="http://swiftintern.com/employer/resources">Employer Resources</a> section for advice on setting up and managing your internship program.</li>
</ul>
<br>
<b>Need help?</b> Just call our Employer Care team at +91-9891048495 or email info@swiftintern.com. <br>
<br>
Thanks for using Swiftintern.com to post your internships.<br>
<br>
Regards,<br>
Saud Akhtar<br>
+91-9891048495<br>
<br>
We're on <a href="https://www.facebook.com/swiftintern">Facebook</a> and <a href="https://twitter.com/swiftintern">Twitter</a> giving you the latest tips, news & internships.