<!DOCTYPE html>
<html>
<head>
	<title>Internship Status</title>
</head>
<body>
	<img src="../images/headerlogo.png" style='width:100%;'><br>
	Dear {$user->name},<br><br>
	I am glad to inform you that your internship <a href="{$url}">{$opportunity->title}</a> have been <b>Verifed</b>.<br>
	<br>
	For more details on how to Select Applicants see<a href="{$resources}">Resources</a><br>
	For any Other Support/Query call/watsapp us at +91-9891048495 or reply to this email.
	<br><br>
	Regards,<br>
	Swiftintern.com Team
	<br><br>
	We're on <a href="https://www.facebook.com/swiftintern">Facebook</a> and <a href="https://twitter.com/swiftintern">Twitter</a> giving you the latest tips, news & internships.
</body>
</html>