<img src="http://assets.swiftintern.com/images/headerlogo.png" style="width:100%;"><br>
Dear {$user->name},<br><br>
We noticed you after registering with Swiftintern.com you aren't back. Swiftintern.com has over 1,000 internships and new opportunities are posted every single day! Don't know where to begin? Start your search by telling us your major.<br>
<br>
Check out what a couple of recently hired students are saying about Swiftintern.com:<br>
<br>
"This site was very helpful to me. I found an internship, applied, and got a response back the same day. I followed up with the employer through a phone interview and was hired within a week."<br>
<br>
"I met the dream team, for my dream job. Your site made it easy to apply to a multitude of internships and hone in on the right fit for me. Thanks y'all!"<br>
<br>
For any Other Support/Query call/watsapp us at +91-9891048495 or reply to this email.
<br><br>
Regards,<br>
Swiftintern Team
<br><br>
We're on <a href="https://www.facebook.com/swiftintern">Facebook</a> and <a href="https://twitter.com/swiftintern">Twitter</a> giving you the latest tips, news & internships.