Hi,<br>
you have requested the access to your platform, click <a href="http://swiftintern.com/users/access/login/{echo base64_encode($user->email)}">here</a><br>
<b>Need help?</b> Just call our Employer Care team at +91-9891048495 or email info@swiftintern.com. <br>
<br>
Regards,<br>
Saud Akhtar<br>
Marketing Head Swiftintern.com<br>
+91-9891048495<br>
<br>
We are on <a href="https://www.facebook.com/swiftintern">Facebook</a> and <a href="https://twitter.com/swiftintern">Twitter</a> giving you the latest tips, news & internships.