<header class="intro-header" style="background-image: url(http://swiftintern.com/public/assets/images/others/workshop.jpg);">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1 class="huge"></h1>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h3 class="sub-heading">Web Development</h3>
            <p>Web Development is the planning and creation of website. It includes information architecture, user interface, site structure, navigation, layout, colors, fonts, and imagery. All of these are combined with the principles of design to create a website that meets the goals.</p>
            
            <h3 class="sub-heading">Android Development</h3>
            <p>This workshop introduces about Android, opportunities in mobile application development for software professionals. The objective of the workshop is to enable the participants to develop mobile applications on their own and to train them to use Android Studio as IDE and Github as software versioning platform.</p>
            <br>
            <p class="text-center">
                <a href="/contact" class="btn btn-primary"><i class="fa fa-phone fa-fw"></i> Contact Us</a>
                <a href="/internship/details/SwiftIntern-Student-Partner/413" class="btn btn-warning"><i class="fa fa-user-secret fa-fw"></i> Be Campus Ambassador</a>
            </p>
        </div>
        <div class="col-md-3">
            <img src="{echo CDN}images/others/certi.png" alt="Certificate" class="thumbnail" width=200>
        </div>
        <div class="col-md-12">
            
        </div>
        
    </div>
</div>
<script type="text/javascript">
    var page = 1;
    $(document).ready(function () {
        $(".navbar").css("margin-bottom", "-20px");
    });
</script>