<header class="sb-page-header">
    <div class="container">
        <h1>Contact</h1>
        <p>Contact Swiftintern if you have suggestions for new features, have feedback for us, or if you need help.</p>
    </div>
</header>
<div class="container">
    <div class="row">
            <div class="form-group">
                <label for="exampleInputEmail1">Full Name</label>
                <input type="email" class="form-control" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Message</label>
                <textarea class="form-control" placeholder="Enter Message" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <div class="col-md-4">
            <legend>Connect With Us</legend>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/swiftintern" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-3x"></i></a></li>
                <li class="tooltip-social linkedin-link"><a href="http://www.linkedin.com/company/swiftintern-com" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-3x"></i></a></li>
                <li class="tooltip-social twitter-link"><a href="https://twitter.com/swiftintern" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-3x"></i></a></li>
                <li class="tooltip-social google-plus-link"><a href="https://plus.google.com/+Swiftinternindia" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-3x"></i></a></li>
                <li class="tooltip-social rss-link"><a href="mailto:info@swiftintern.com" data-toggle="tooltip" data-placement="top" title="RSS"><i class="fa fa-envelope fa-3x"></i></a></li>
            </ul>
                           
                    <p><i class="fa fa-envelope fa-lg"></i> info@swiftintern.com</p>
                    <p><i class="fa fa-mobile fa-lg"></i> +91-9891048495</p>
                
                
            

            <legend>Visit Us</legend>
            <address>
                SWIFTDEAL ONLINE LLP <br>
                O - 54 F/F Batla House, Jamia Nagar,<br> 
                New Delhi - 110025, Delhi, INDIA
            </address>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".navbar").css("margin-bottom", "0px");
    });
</script>