<section class="container">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="home">Home</a></li>
            <li class="active">Signin</li>
        </ol>
        <div class="col-md-6 col-lg-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>
                        <a href="{echo $url}" class="btn btn-primary"><i class="fa fa-linkedin fa-lg"></i>  | Signin with Linkedin</a> 
                        <p>Your Profile will be synced with linkedin</p>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
</section>