<section class="container">
    <div class="row">
        <h1 class="page-header text-center">{echo $post->title}</h1>
        <nav><ol class="breadcrumb">
                <li><a href="/home">Home</a></li>
                <li><a href="/blog">Blog</a></li>
                <li class="active">{echo $post->title}</li>
            </ol></nav>
        <article class="col-md-10 thumbnail col-md-offset-1">
            {if($image)}
            <img src="/home/thumbnails/{echo $image->photo_id}/800/300" alt="{echo $post->title}">
            {/if}
            <div class="caption blog" id="blog">
                {echo $post->content}
            </div>
        </article>
    </div>
</section>