<section class="container">
    <div class="row">
        <h1 class="page-header text-center">{echo $post->title}</h1>
        <nav><ol class="breadcrumb">
                <li><a href="home">Home</a></li>
                <li><a href="blog">Blog</a></li>
                <li class="active">{echo $post->title}</li>
            </ol></nav>
        <article class="col-md-9 panel panel-default col-md-offset-1">
            <div class="panel-body blog" id="blog">
                {echo $post->content}
            </div>
        </article>
    </div>
</section>