<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12 page-content">
                <div class="inner-box category-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="alert alert-success pgray  alert-lg" role="alert">
                                <h2 class="text-center no-margin no-padding">Thank you for your order!.</h2>
                                <p>Your order is currently being reviewed by the billing department. For your referance order number is #. If you have any questions, or need further assistance, please contact us at udit@swiftintern.com
                                We have sent you an email with your account details</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
