<header class="intro-header" style="background-image: url('assets/img/others/bg.jpg');">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1 class="huge">Support</h1>
                    <hr class="small">
                    <span class="subheading">"Answers to your common problems on Swiftintern"</span>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="container">
    <article class="row">
        <div class="blog col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <ul class="list-group">
                <li class="list-group-item">
                    <h3>I have problem? How can i talk to some representative?</h3>
                    <p>For any Query email us at swiftintern@gmail.com or info@swiftintern.com, To Talk to our Tech expert call +91-9891048495</p>
                </li>
                <li class="list-group-item" id="register-on-linkedin-first">
                    <h3>Register your company first on LInkedin</h3>
                    <div class=""><p>We believe in the process of transparent and easy hiring so if you are linkedin then only you can post internship on our platform</p></div>
                </li>
            </ul>
        </div>
    </article>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $('.navbar').css('margin-bottom', '-20px');
    });
</script>