<div id="page-wrapper">
    <div class="row col-lg-12">
        <h1 class="page-header text-center">Manage Leads</h1>
        <div class="panel panel-default">
            <div class="panel panel-body text-center">
                <p>To Stop the CRM Process change validity to "null" in edit.</p>
            </div>
            <table class="table table-hover table-striped">
                <thead>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Created</th>
                    <th>Validity</th>
                    <th>Action</th>
                </thead>
                <tbody id="results">
                    {foreach $lead in $leads}
                    <tr>
                        <td>{echo $lead->id}</td>
                        <td><a href="/admin/info/lead/{echo $lead->id}" target="_blank">{echo $lead->email}</a></td>
                        <td>{echo $lead->status}</td>
                        <td>{echo $lead->created}</td>
                        <td>{echo $lead->validity}</td>
                        <td>
                            <a href="/admin/update/lead/{echo $lead->id}" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i> Edit</a>
                        </td>
                    </tr>
                    {/foreach}
                </tbody>
            </table>
            <div id="after_results" class="text-center">
                {if($count >= 10)}
                    <ul class="pager">
                        {if($page != 1)}
                        <li><a href="?page={echo $page - 1}">Previous</a></li>
                        {/if}
                        {if($page < $count/$limit)}
                        <li><a href="?page={echo $page + 1}">Next</a></li>
                        {/if}
                    </ul>
                {/if}
            </div>
        </div>
    </div>
</div>