<section class="container">
    <div class="row">
        <h1 class="page-header text-center">Login for Updates</h1>
        <div class="col-md-6 col-lg-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p class="text-center"><a href="{echo $url}" class="btn btn-primary"><i class="fa fa-linkedin fa-lg"></i>  | Signin with Linkedin</a></p>
                    <div class="media">
                        <div class="media-left">
                            <i class="fa fa-check fa-5x"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Get Access</h4>
                            <p>Browse, Post and Apply to thousands of Opportunity on Swiftintern </p>
                        </div>
                    </div>
                    <br>
                    <div class="media">
                        <div class="media-left">
                            <i class="fa fa-clock-o fa-5x"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Test Platform</h4>
                            <p>Create or Give Skills test at any time you want and Get Certified.</p>
                        </div>
                    </div>
                    <br>
                    <div class="media">
                        <div class="media-left">
                            <i class="fa fa-institution fa-5x"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Organizations</h4>
                            <p>Follow, contact, create and Get Updates of various Organizations. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</section>