<section class="container">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="home">Home</a></li>
            <li class="active">Blocked</li>
        </ol>
        <div class="col-md-6 col-md-offset-3">
            <div class="media">
                <div class="media-left">
                    <i class="fa fa-check fa-5x"></i>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Get Access</h4>
                    <p>Browse, Post and Apply to thousands of Opportunity on Swiftintern </p>
                </div>
            </div>
            <br>
            <div class="media">
                <div class="media-left">
                    <i class="fa fa-clock-o fa-5x"></i>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Test Platform</h4>
                    <p>Create or Give Skills test at any time you want and Get Certified.</p>
                </div>
            </div>
            <br>
            <div class="media">
                <div class="media-left">
                    <i class="fa fa-institution fa-5x"></i>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Organizations</h4>
                    <p>Follow, contact, create and Get Updates of various Organizations. </p>
                </div>
            </div>
            <br>
            <div class="panel panel-default">
                <div class="panel-body">
                    <p><a href="student/register" class="btn btn-info"><i class="fa fa-user fa-lg"></i>  | Student Register</a>
                    <a href="employer/register" class="btn btn-info"><i class="fa fa-briefcase fa-lg"></i>  | Employer Register</a>
                    <a href="educator/register" class="btn btn-info"><i class="fa fa-institution fa-lg"></i>  | Educator Register</a>
                </div>
            </div>
        </div>
    </div>
    <br>
</section>