<?php require_once $dir_public.'requires/header.php';?>
<!-- the middle contents -->
<section class="container">
	<div class="row">
		<h3 class="page-header"><?php echo $test->title;?></h3>
		<small class="pull-right"><span id="countdown">30</span> minutes</small>
		<article class="col-md-12">
			<form id="testform" class="col-md-offset-2">
			<?php
				$i=1;
				foreach ($questions as $question) {
					$question = Question::find_by_id('id', $question->id);
					echo '<p>&nbsp;Q'.$i.'.&nbsp;'.$question->question.'</p>';
					echo '<ul class="nav col-md-offset-1">';
					$options = Option::find_by_property('ques_id', $question->id);
					foreach ($options as $option) {
						$option = Option::find_by_id('id', $option->id);
						echo '<li>
								<div class="radio">
									<label><input type="radio" name="question_'.$question->id.'" value="'.$option->id.'">'.$option->ques_option.'</label>
								</div>
							</li>';
					}
					echo '</ul>';
					$i++;
				}
			?>
			<input type="hidden" name="test_id" value="<?php echo $test->id;?>">
			<input type="hidden" name="participant_id" value="<?php echo $participant->id;?>">
			<input type="hidden" name="action" value="test_result">
			<p class="text-center"><button type="submit" class="btn btn-primary btn-lg">Submit</button></p>
			</form>
		</article>
	</div>
</section>
<script type="text/javascript">
var warn = 0;
$(document).ready(function() {
	$(window).blur(function(){
		if(warn > 3){
			bootbox.alert('Your Test is now cancelled');
			submitTest();
		}else{
			bootbox.alert('You are not allowed to open any new tab. or minimize the window');
			warn++;
		}
	});

	var dt 			= new Date();
	var starttime 	= new Date().getTime();
	window.starttime= starttime;

	var test_id = $('input[name="test_id"]').val();
	testDetails(test_id).success(function (data) {
		var test = data[0];
		if (test.time_limit != '0') {
			var timeSpent = test.time_limit;
			function countdown(){
				console.log(timeSpent);
				timeSpent -= 1;
				if (timeSpent > 0){
					setTimeout(countdown,1000);
				}
				if (timeSpent == 1) {
					alert('submitted');
					submitTest();
				};
			}
			setTimeout(countdown,1000);
		}
	});
});
</script>
<?php require_once $dir_public.'requires/footer.php';?>