<!-- the middle contents -->
<section class="container">
	<div class="row">
		<nav><ol class="breadcrumb">
			<li><a href="home">Home</a></li>
			<li><a href="test">Test</a></li>
			<li class="active">{echo $test->title}</li>
		</ol></nav>
		<article>
			<div class="row">
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Test Details</h3>
					</div>
					<div class="panel-body">
						<p>{echo $test->title}</p>
						<p>Category : {echo $test->subject}</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Student Details</h3>
					</div>
					<div class="panel-body">
						<p>{echo $user->name}</p>
						<p>Skills : {echo $student->skills}</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Test Result</h3>
					</div>
					<div class="panel-body">
						<p>Marks : {echo $participant->score}%</p>
						<p>Question Attempted : {echo $participant->attempted}</p>
					</div>
				</div>
			</div>
			</div>
			<hr>
			<div class="row">
			{if ($test->type == 'certification')}
				<p>
					We will print a beautiful certificate and post it to your home. you can get this certificate at <b>Rs. 350</b> <span class="huge">(30% Discount)</span>
					<a href="order/certificate/{echo $certi_id}" target="_blank" class="btn btn-success btn-lg pull-right">Get Certificate</a>
				</p>
			{/if}
			</div>
			<hr>
		</article>
		<article style="height: 600px;background: url('assets/images/certi.jpg') no-repeat center;">
			<table style="width: 100%; text-align: center; font-family: Sacramento, cursive;">
				<tr><td></td></tr>
				<tr>
					<td><h1><b>Certificate of Completion</b><h1></td>
				</tr>
				<tr>
					<td><h2>This is to certify that</h2></td>
				</tr>
				<tr>
					<td><h2><b>{echo $user->name}</b> has given {echo $test->title}</h2></td>
				</tr>
				<tr>
					<td><img src="assets/img/headerlogo.png" alt="logo"></td>
				</tr>
				<tr>
					<td style="font-family: arial;">
					</td>
				</tr>
			</table>
		</article>
	</div>
</section>
<style type="text/css">
	@font-face {
		font-family: myFirstFont;
		src: url('assets/fonts/roundband.woff');
	}
	
	@font-face {
		font-family: Sacramento;
		src: url('assets/fonts/Sacramento.ttf');
	}
</style>
