<!-- the middle contents -->
<link rel="stylesheet" href="{echo CDN}css/syntax.css">
<link rel="stylesheet" href="{echo CDN}css/main.css">
<script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<script src="http://cdn.rawgit.com/hilios/jQuery.countdown/2.1.0/dist/jquery.countdown.min.js"></script>
<div class="home-welcome">
<div class="container">
    <div class="main-example">
        <p>
            Test Ends In:
        </p>
        <div class="countdown-container" id="main-example"></div>
    </div>
   <script type="text/template" id="main-example-template">
    <div class="time <%= label %>">
        <span class="count curr top"><%= curr %></span>
        <span class="count next top"><%= next %></span>
        <span class="count next bottom"><%= next %></span>
        <span class="count curr bottom"><%= curr %></span>
        <span class="label"><%= label.length < 6 ? label : label.substr(0, 3)  %></span>
    </div>
   </script>
   <script type="text/javascript" src="{echo CDN}/js/timer.js"></script>

    <div class="row">
        <h1 class="page-header text-center">{echo $test->title}</h1>
        <ol class="breadcrumb">
            <li><a href="/home">Home</a></li>
            <li><a href="/onlinetest">All Exams</a></li>
            <li><a href="/onlinetest/details/{echo urlencode($test->title)}/{echo $test->id}">{echo $test->title}</a></li>
            <li class="active">Exam</li>
        </ol>
        <article class="col-md-12">
            <form class="col-md-offset-2 col-md-8" method="post" action="/onlinetest/result/{echo $participant->id}">
                {script $i=1}
                {foreach $question in $questions}
                <div class="{if($i!=1)} hide {/if}" id="question_{echo $i}">
                    <label>Q{echo $i} of {echo count($questions)}. {echo $question->question}</label>
                    {script $options = Option::all(array('ques_id = ?' => $question->id))}
                    <ul class="list-group">
                        {foreach $option in $options}
                        {script $option = Option::first(array('id = ?' => $option->id))}
                        <li class="list-group-item">
                            <div class="radio">
                                <label><input type="radio" name="question[{echo $question->id}]" value="{$option->id}">{echo $option->ques_option}</label>
                            </div>
                        </li>
                        {/foreach}
                    </ul>
                    {script $i++}
                </div>
                {/foreach}
                <input type="hidden" name="test_id" value="{echo $test->id}">
                <input type="hidden" name="participant_id" value="{echo $participant->id}">
                <input type="hidden" name="action" value="test_result">
                <nav>
                    <ul class="pager">
                        <li><a href="#" class="prevQues">Previous</a></li>
                        <li><a href="#" class="nextQues">Next</a></li>
                    </ul>
                </nav>
                <button type="submit" class="btn btn-primary btn-lg pull-right">Submit</button>
            </form>
        </article>
    </div>
</div>
</div>
<script type="text/javascript">
$(document).ready(function () {
    window.opts.ques = 1;
    var warn = 0;
    $(window).blur(function () {
        if (warn > 1) {
            //alert("Your Test is now cancelled");
            //window.location.href = "/home";
        }
        //alert("You are not allowed to open any new tab. or minimize the window");
        warn++;
    });
});
</script>