<div class="container">
    <article class="row">
        <h1 class="page-header text-center">Resume Guidelines</h1>
        <ol class="breadcrumb">
            <li><a href="/home">Home</a></li>
            <li><a href="/resumes">Resume</a></li>
            <li class="active">Guidelines</li>
        </ol>
        <ul class="list-group">
            <li class="list-group-item">
                <h2>Contact Info</h2>
                <p>This should ALWAYS include your name, address, phone number and email. Your voicemail and email address should be professional.</p>
            </li>
            <li class="list-group-item">
                <h2>Objective</h2>
                <p> Your objective should be tailored to the specific job and/or facility for which you are applying. </p>
            </li>
            <li class="list-group-item">
                <h2>Education</h2>
                <p> Keep this section as standard as possible and leave off all high school information. Include: name of degree, anticipated date of graduation, name of institution, city/state, and GPA if at least a 3.0</p>
            </li><li class="list-group-item">
                <h2>Skills &amp; Qualifications</h2>
                <p>Consider the skills, strengths, knowledge and competencies you possess as it directly relates to the position. You may also want to use an existing job description to help you brainstorm for this section.</p>
            </li>
            <li class="list-group-item">
                <h2>Relevant Experience</h2>
                <p> If you have relevant experience, this is one of the most important parts of your resume. Bullets are preferred over heavily worded paragraphs. Three to five bullets per job is considered the norm. Begin each bullet with an action verb. List in reverse chronological order (starting with your current job and working back).</p>
            </li>
            <li class="list-group-item">
                <h2>Additional Experience</h2>
                <p>Use this section to discuss additional work experience and to show some of your work history.  Try to touch on transferrable skills that would also be beneficial in the job you are seeking.</p>
            </li>
            <li class="list-group-item">
                <h2>Memberships</h2>
                <p> Include organization name and dates of membership.</p>
            </li>
            <li class="list-group-item">
                <h2>References</h2>
                <p> Provide only if requested. For now, saying ‘available upon request’ is appropriate. </p>
            </li>
            <li class="list-group-item">
                <h2>Quick Tips</h2>
                <p>Be sure to proofread, checking for spelling or grammatical errors, formatting, consistency, neatness and flow.  Avoid using templates and update your resume regularly.  Also, remember to tailor your resume to the position for which you apply. </p>
            </li>
        </ul>
    </article>
</div>