<header class="intro-header">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" style="padding-top: 0px; ">
                    <h1 class="huge">Resume for Internship</h1>
                    <hr class="small">
                    <span class="subheading">
                        <a href="{echo $url}" class="btn btn-primary btn-lg"><i class="fa fa-linkedin fa-lg"></i> | Continue with Linkedin</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="container">
    <article class="row">
        <div class="blog col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>Swiftintern.com is a great place to build and post your resume online for free. It’s easy to sign up, free to use, and you can access your resume from anywhere once you have posted it. Use our free resume builder to create the perfect resume online in minutes. Have you asked yourself how do I post my resume free? We thought so. That’s why we created a system for you to post your resume online that is simple and easy.</p>
            <p>
            <!--<div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/Syb9j-ux6S8" frameborder="0" allowfullscreen></iframe>
            </div>-->
            </p>
            <p>Login any time to edit and update your online resume. Preview, print, and email your resume, cover letter, and references. Download your resume as a Microsoft Word document or email it directly to your job interview. </p>
            <p>Using our resume builder and when you’re ready to share it, we’ll guide you through sharing and promoting your resume online using social networks and professional networks. If you don’t want to post your resume right away, you can also download a plain text version for free and save it for later. </p>
        </div>
    </article>
</section>
<script type="text/javascript">
    $(".site-heading").css("padding-top", "-10px");
    $(".site-heading").css("padding-bottom", "10px");
</script>