<header class="sb-page-header">
    <div class="container">
        <h1>
            Resume for Internship
            <span class="pull-right">
                <img src="http://assets.swiftintern.com/images/resume/resume2.gif" class="thumbnail" width="200">
            </span>
        </h1>
        <p>
            Create the perfect resume in minutes and save in PDF or Word<br><br>
            {if ($li->hasAccessToken()) || $user}
            <a href="/resumes/success" class="btn btn-primary btn-lg"><i class="fa fa-check fa-lg"></i> | Continue</a>
            {/if}
            {else}
            <button onclick=studentLogin("linkedin") class="btn btn-primary"><i class="fa fa-linkedin fa-lg"></i>  | Continue with Linkedin</button>
            <button onclick=studentLogin("google") class="btn btn-danger"><i class="fa fa-google fa-lg"></i>  | Continue with Google+</button>
            {/else}
        </p>
    </div>
</header>
<section class="container">
    <article class="row blog">
        <div class="col-lg-8">
            <img src="http://assets.swiftintern.com/images/resume/selected.jpg" class="thumbnail text-center">
        </div>
        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6"><i class="fa fa-files-o fa-5x"></i></div>
                        <div class="col-xs-6 text-right">
                            <p class="announcement-heading huge">7983579</p>
                            <p class="announcement-text">Total Resumes</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="panel panel-default panel-body">
                <h3>Edit, Save and Download</h3>
                <p>Your resume content is fetched from and then further you can download it in Word format for further editing</p>
            </div>
            
            <div class="panel panel-default panel-body">
                <h3>Choose a Template</h3>
                <p>Pick a Resume template which best suits your design. Out of Chronological, Combination, Functional</p>
            </div>
        </div>
    </article>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $(".navbar").css("margin-bottom", "0px");
    });
</script>